<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <PatchCreation Id="107520E1-147D-4278-AC3E-8EF64C367229"
                 CleanWorkingFolder="yes"
                 OutputPath="DVB-IPTV_MovistarTV_1-0_RC-to-Gold.pcp"
                 WholeFilesOnly="no"
                 Codepage="1252">

    <PatchInformation Description="Actualización de Decodificador Movistar TV 1.0 “Wolf 424” de RC a definitiva"
                      Manufacturer="http://movistartv.codeplex.com"
                      Comments="Paquete de actualización de Decodificador Movistar TV 1.0 “Wolf 424” de RC a definitiva " />

    <PatchMetadata AllowRemoval="no"
                   Description="Actualización de Decodificador Movistar TV 1.0 “Wolf 424” de RC a definitiva"
                   ManufacturerName="http://movistartv.codeplex.com"
                   TargetProductName="Decodificador Movistar TV 1.0 RC “Wolf 424”"
                   MoreInfoURL="http://movistartv.codeplex.com/releases/view/612034"
                   Classification="Update"
                   DisplayName="Actualización de v1.0 RC a definitiva" />

    <Family DiskId="10000"
            MediaSrcProp="RCtoGold"
            Name="RCtoGold"
            SequenceStart="10000">
      <UpgradeImage SourceFile="C:\Users\Developer\Desktop\RCtoGoldPatch\Gold\DVB-IPTV_MovistarTV_1-0_Gold.msi"
                    Id="ToGoldUp">
        <TargetImage SourceFile="C:\Users\Developer\Desktop\RCtoGoldPatch\RC\DVB-IPTV_MovistarTV_1-0-RC.msi"
                     Id="RCTarget"
                     IgnoreMissingFiles="no"
                     Order="2" />
      </UpgradeImage>
    </Family>

    <PatchSequence PatchFamily="RCtoGoldPatchFamily"
                   Sequence="1.0.0.0"
                   Supersede="yes" />

    <TargetProductCode Id="aa41b721-8657-4ec7-9fd1-9f27dbda4ad0" />
  </PatchCreation>
</Wix>